@import "tailwindcss";

/* v4 */
@theme {
  --color-background: #050505;
  --color-foreground: #ffffff;
}

body {
  @apply bg-[#050505] text-white antialiased;
  
  background-image: 
    radial-gradient(circle at 50% 0%, rgba(120, 119, 198, 0.1) 0%, transparent 50%),
    radial-gradient(circle at 100% 0%, rgba(99, 102, 241, 0.15) 0%, transparent 50%);
}